$mobile-max-width: 480px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;
$header-text-color: #334b5d;
$background-color: #fcfcfc;
$main-title-color: #3e3e3e;
$secondary-title-color: #000000;
$button-color: #e39f12;
$button-text-color: #fff;
$active-slider-color: #3c5186;
$not-active-slider-color: #81b4da;
$faded-color: #807878;
